/* CSS RESET */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

main{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}


@media (max-width: 1036px) {
  #ip-dash{
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 24px;
      gap: 24px;
      bottom: 100px !important;
  }
  .vertical-line{
      display: none;
  }

  article{
      width: 100%;
      text-align: center;
  }
}

@media (max-width: 500px) {
  #ip-dash{
    height: 294px;
    gap: 10px;
  }
  article > p{
    font-size: 10px !important;
    margin-bottom: 5px !important;
  }

  article > h2{
    font-size: 20px !important;
  }

  article{
    width: 100% !important;
  }
  .vertical-line{
      display: none;
  }

  article{
      width: 100%;
      text-align: center;
  }
}